<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item class="nav-list" routerLink="/remetente/create">
                <i class="material-icons">
                    person_add
                </i>
                Adicionar Remetente
            </a>
            <a mat-list-item class="nav-list" routerLink="/remetente/list">
                <i class="material-icons">
                    supervisor_account
                </i>
                Remetentes Cadastrados
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>