<mat-card>
    <mat-card-title>Novo Remetente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="remetente.nome"
            name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="remetente.telefone"
            name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="remetente.cpf"
            name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço "[(ngModel)]="remetente.endereco"
            name="endereco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="remetente.email"
            name="email">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="createRemetente()" color="primary">
    Salvar
</button>