<div class="mat-elevation-z8">
    <table mat-table [dataSource]="remetente">

        <!-- Coluna do Nome -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
        </ng-container>

        <!-- Coluna do Telefone -->
        <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef>Telefone</th>
            <td mat-cell *matCellDef="let row">{{row.telefone}}</td>
        </ng-container>
        <!-- Coluna do CPF -->
        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let row">{{row.cpf}}</td>
        </ng-container>
        <!-- Coluna do Endereço -->
        <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef>Endereço</th>
            <td mat-cell *matCellDef="let row">{{row.endereco}}</td>
        </ng-container>
        <!-- Coluna do Email -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <a routerLink="/remetente/update/{{ row.idRemetente }}" class="edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                <a mat-raised-button (click)="deleteRemetente(row.idRemetente)"  class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>